//! **************************************************************************
// Written by: Map P.58f on Tue Jul 14 19:55:17 2015
//! **************************************************************************

SCHEMATIC START;
COMP "LOAD" LOCATE = SITE "G12" LEVEL 1;
COMP "OUT0" LOCATE = SITE "M5" LEVEL 1;
COMP "A0" LOCATE = SITE "P11" LEVEL 1;
COMP "OUT1" LOCATE = SITE "M11" LEVEL 1;
COMP "A1" LOCATE = SITE "L3" LEVEL 1;
COMP "OUT2" LOCATE = SITE "P7" LEVEL 1;
COMP "B0" LOCATE = SITE "G3" LEVEL 1;
COMP "A2" LOCATE = SITE "K3" LEVEL 1;
COMP "OUT3" LOCATE = SITE "P6" LEVEL 1;
COMP "B1" LOCATE = SITE "F3" LEVEL 1;
COMP "A3" LOCATE = SITE "B4" LEVEL 1;
COMP "OUT4" LOCATE = SITE "N5" LEVEL 1;
COMP "B2" LOCATE = SITE "E2" LEVEL 1;
COMP "B3" LOCATE = SITE "N3" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "B8" LEVEL 1;
PIN CLOCK_pin<0> = BEL "CLOCK" PINNAME PAD;
PIN "CLOCK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

